
.vs/TornadoCallouts/xs/project-cache/TornadoCallouts-Debug|x64.json
.DS_Store
.vs/TornadoCallouts/xs/project-cache/TornadoCallouts-Release.json
.vs/TornadoCallouts/xs/UserPrefs.xml
.vs/TornadoCallouts/xs/UserPrefs.xml
